In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_excel('uber_rides_data.xlsx')
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [3]:
#What is the shape of given dataset?

print(df.shape)

(200000, 8)

In [5]:
# How many integer columns(by default) are given in the dataset?

df.select_dtypes(include = ['int']).count

<bound method DataFrame.count of          ride_id  passenger_count
0       24238194                1
1       27835199                1
2       44984355                1
3       25894730                3
4       17610152                5
...          ...              ...
199995  42598914                1
199996  16382965                1
199997  27804658                2
199998  20259894                1
199999  11951496                1

[200000 rows x 2 columns]>

#### How many missing values exists in 'dropoff_longitude' column?

In [6]:

missing_value = sum(pd.isnull(df['dropoff_longitude']))
print('missing value:',missing_value)

missing value: 1

#### What is the data type of ' pickup_datetime' feature in your data?

In [26]:
data_type = df.dtypes['pickup_datetime']
print('Data type:',data_type)

Data type: object

#### Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [15]:
# pd.datetime(df['pickup_datetime'])

# output gives the output i.e., TypeError: 'Series' object cannot be interpreted as an integer

In [35]:

#pd.to_datetime(df['pickup_datetime'])

pd.to_datetime(df['pickup_datetime'])

0        1970-01-01 00:00:00.000001970
1        1970-01-01 00:00:00.000001970
2        1970-01-01 00:00:00.000001970
3        1970-01-01 00:00:00.000001970
4        1970-01-01 00:00:00.000001970
                      ...
199995   1970-01-01 00:00:00.000001970
199996   1970-01-01 00:00:00.000001970
199997   1970-01-01 00:00:00.000001970
199998   1970-01-01 00:00:00.000001970
199999   1970-01-01 00:00:00.000001970
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns]

In [11]:
# df['pickup_datetime'].astype('datetime64[ns]')

df['pickup_datetime'].astype('datetime64[ns]')

0        2015-05-07 19:52:06
1        2009-07-17 20:04:56
2        2009-08-24 21:45:00
3        2009-06-26 08:22:21
4        2014-08-28 17:47:00
                 ...
199995   2012-10-28 10:49:00
199996   2014-03-14 01:09:00
199997   2009-06-29 00:42:00
199998   2015-05-20 14:56:25
199999   2010-05-15 04:08:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns]

In [16]:
# df['pickup_datetime'].to_type('datetime64[ns]')

# output gives the error i.e, AttributeError: 'Series' object has no attribute 'to_type'

#### Which function can be used to remove null values from the dataframe?

In [17]:
dataFrame = df.dropna()
print("\nDataFrame after removing null values...\n",dataFrame.head())

DataFrame after removing null values...
     ride_id  fare_amount          pickup_datetime  pickup_longitude  \
0  24238194          7.5  2015-05-07 19:52:06 UTC        -73.999817
1  27835199          7.7  2009-07-17 20:04:56 UTC        -73.994355
2  44984355         12.9  2009-08-24 21:45:00 UTC        -74.005043
3  25894730          5.3  2009-06-26 08:22:21 UTC        -73.976124
4  17610152         16.0  2014-08-28 17:47:00 UTC        -73.925023

   pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
0        40.738354         -73.999512         40.723217                1
1        40.728225         -73.994710         40.750325                1
2        40.740770         -73.962565         40.772647                1
3        40.790844         -73.965316         40.803349                3
4        40.744085         -73.973082         40.761247                5

#### What is the average fare amount?

In [19]:
average = df['fare_amount'].mean()
print('Average:',average)

Average: 11.359955250000002

#### Calculate distance between each pickup and dropoff points using Haversine formula. 
#### What is the median haversine distance between pickup and dropoff location according to the given dataset?

In [45]:
def haversine(lat1, lon1, lat2, lon2, radius=6371):
    """
    Calculate the distance between two points on a sphere using the Haversine formula.
    """
    dlat = np.radians(lat2 - lat1)
    dlon = np.radians(lon2 - lon1)
    a = np.sin(dlat / 2) ** 2 + np.cos(np.radians(lat1)) * np.cos(np.radians(lat2)) * np.sin(dlon / 2) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    return radius * c

In [46]:
d = haversine(df['pickup_latitude'], df['pickup_longitude'], df['dropoff_latitude'], df['dropoff_longitude'])
d

0          1.683323
1          2.457590
2          5.036377
3          1.661683
4          4.475450
            ...
199995     0.112210
199996     1.875050
199997    12.850319
199998     3.539715
199999     5.417783
Length: 200000, dtype: float64

#### What is the median haversine distance between pickup and dropoff location according to the given dataset?

In [47]:
d.median()

2.120992396183407

#### What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [48]:
d.max()

16409.239135313182

#### another method

In [41]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.8.0-py2.py3-none-any.whl (7.7 kB)
Installing collected packages: haversine
Successfully installed haversine-2.8.0

In [42]:
import haversine as hs

In [43]:
loc1=(40.738354,-73.999817)
loc2=(40.723217,-73.999512)
hs.haversine(loc1,loc2)

1.6833561212793353

In [49]:
d = haversine(df['pickup_latitude'], df['pickup_longitude'], df['dropoff_latitude'], df['dropoff_longitude'])
d

0          1.683323
1          2.457590
2          5.036377
3          1.661683
4          4.475450
            ...
199995     0.112210
199996     1.875050
199997    12.850319
199998     3.539715
199999     5.417783
Length: 200000, dtype: float64

In [50]:
d.median()

2.120992396183407

In [51]:
d.max()

16409.239135313182

#### How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [66]:
x = d.where(d < 0.1)
print(x)
x.count()

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
199995   NaN
199996   NaN
199997   NaN
199998   NaN
199999   NaN
Length: 200000, dtype: float64

6807

#### What is the mean 'fare_amount' for rides with 0 haversine distance?

In [72]:
f = df['fare_amount'].mean()
print(f)


#In the above question if we cant use haversine becoz the haversine formula works with latitutde and longitude values given.
#if we try performing the syntax we get the error as this "haversine() missing 3 required positional arguments: 'lon1', 'lat2', and 'lon2'"

11.359955250000002

In [71]:
# What is the maximum 'fare_amount' for a ride?


maximum = df['fare_amount'].max()
print(maximum)

499.0

#### What is the haversine distance between pickup and dropoff location for the costliest ride?

In [80]:
costliest_ride = df['fare_amount'].max()
print('costliest_ride:',costliest_ride)

dataFrame.loc[(dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')),
                    ['Name','JOB']])
df.loc[df['fare_amount']=499]
print()
loc1=(40.738354,-73.999817)
loc2=(40.723217,-73.999512)
hs.haversine(loc1,loc2)

AttributeError: 'float' object has no attribute 'info'

In [75]:
# How many rides were recorded in the year 2014?

df['pickup_datetime'].astype('datetime64[ns]')
rides = df['pickup_datetime'].year
print(rides)

AttributeError: 'Series' object has no attribute 'year'